* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  height: 100%;
}

/* Header / Navbar */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid white;
  padding: 5px 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background: red;
  border-radius: 4px;
  color: white;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url(cover.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content {
  color: white;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero h2 {
  font-size: 35px;
  margin: 10px 0 30px;
}

.buttons .btn {
  background:  red;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
  transition: background 0.2s;
 
  
 
}

.buttons .btn:hover {
  background: rgba(188, 1, 1, 0.907);
}
